<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type id="hu.ngms.opencl.cl_contenttype" name="OpenCL kernel source" base-type="org.eclipse.core.runtime.text" file-extensions="cl"/>
   </extension> 

	<extension point="org.eclipse.ui.editors">
	   <editor name="OpenCL editor"
	   contributorClass="hu.ngms.opencl.editor.EditorValidationContributor"
	           id="hu.ngms.opencl.OpenCLEditor">
	      <contentTypeBinding contentTypeId="hu.ngms.opencl.cl_contenttype">
	      </contentTypeBinding>
	   </editor>
	</extension>	

	<extension point="org.eclipse.core.resources.markers" id="hu.ngms.opencl.textmarker" name="OpenCL Marker">
		<super type="org.eclipse.core.resources.textmarker"/>
		<super type="org.eclipse.core.resources.marker"/>
		<persistent value="true"/>
	</extension>
</plugin>
