<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hu.ngms.opencl.projectwizard.category.wizards"
            name="OpenCl">
      </category>
      <wizard
            category="hu.ngms.opencl.projectwizard.category.wizards"
            class="hu.ngms.opencl.projectwizard.ui.OpenCLWizard"
            icon="resources/OpenCL_protocol_open_pgp_3d.png"
            id="hu.ngms.opencl.projectwizard.OpenCLWizard"
            name="OpenCL Project"
            project="true">
         <description>
            Create a new OpenCL project
         </description>
      </wizard>
      <wizard
            category="hu.ngms.opencl.projectwizard.category.wizards"
            class="hu.ngms.opencl.projectwizard.ui.OpenCLKernelWizard"
            icon="resources/OpenCL_protocol_open_pgp_3d.png"
            id="hu.ngms.opencl.projectwizard.kernelWizard"
            name="OpenCL Kernel"
            project="false">
      </wizard>
   </extension>
   <extension
         id="hu.ngms.opencl.openclnature"
         name="OpenCLProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hu.ngms.opencl.projectwizard.OpenCLProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resources/OpenCL_protocol_open_pgp_3d.png"
            id="hu.ngms.opencl.openclnature.image"
            natureId="hu.ngms.opencl.openclnature">
      </image>
   </extension>
   <extension
         id="hu.ngms.opencl.projectwizard.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="OpenCL kernel"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                <with variable="selection">
                    <iterate operator="and" ifEmpty="false">
                        <test 
                            property="org.eclipse.core.resources.projectNature" 
                            value="hu.ngms.opencl.openclnature" />
                    </iterate>
                </with>
            </visibleWhen>
            <parameter
                  name="newWizardId"
                  value="hu.ngms.opencl.projectwizard.kernelWizard">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <configuration
            id="hu.ngms.opencl.projectwizard.configuration"
            languageSettingsProviders="hu.ngms.opencl.editor.settings_provider">
      </configuration>
   </extension>
</plugin>
